html {
  background: url(../images/croc.jpg) no-repeat top left;
}

#ostrich {
  position: absolute;
  top: 50px;
  right: 0;
}

/* Write your solution here */
.wrapper {
  width: 960px;
}
 
@media only screen and (max-width: 980px) {
  .wrapper { 
    width: 90%; 
    top: 100px;
  }
}

